<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이벤트</title>

    <link rel="stylesheet" th:href="@{/css/event/event.css}">
</head>
<body>

<div th:replace="~{layout/navbar :: navbar(currentMenu='event')}"></div>

<!-- 배너 -->
<section class="banner">

    <div class="banner-slide active">
        <img th:src="@{/images/banner1.png}" class="banner-image">

        <div class="banner-controls">
            <span class="page-number">1 / 3</span>

            <button class="arrow-btn prev-btn">&lt;</button>
            <button class="arrow-btn next-btn">&gt;</button>
        </div>
    </div>

    <div class="banner-slide">
        <img th:src="@{/images/banner2.png}" class="banner-image">

        <div class="banner-controls">
            <span class="page-number">2 / 3</span>

            <button class="arrow-btn prev-btn">&lt;</button>
            <button class="arrow-btn next-btn">&gt;</button>
        </div>
    </div>

    <div class="banner-slide">
        <img th:src="@{/images/banner3.png}" class="banner-image">

        <div class="banner-controls">
            <span class="page-number">3 / 3</span>

            <button class="arrow-btn prev-btn">&lt;</button>
            <button class="arrow-btn next-btn">&gt;</button>
        </div>
    </div>

</section>

<!-- 이벤트 -->
<section class="event-section">

    <h1 class="event-title">이벤트</h1>

    <div class="event-grid">

        <div class="event-card">
            <img th:src="@{/images/event1.jpg}">
            <h3>한국어로 자기소개 챌린지</h3>
            <p>기간 : 2026.06.01 ~ 2026.07.30</p>
            <p>당첨자 발표 : 2026.08.10</p>
            <button class="progress-btn">진행중</button>
        </div>

        <div class="event-card">
            <img th:src="@{/images/event2.jpg}">
            <h3>K - 푸드 챌린지</h3>
            <p>기간 : 2026.06.01 ~ 2026.07.30</p>
            <p>당첨자 발표 : 2026.08.10</p>
            <button class="progress-btn">진행중</button>
        </div>

        <div class="event-card">
            <img th:src="@{/images/event3.jpg}">
            <h3>한국 드라마 명대사 따라하기</h3>
            <p>기간 : 2026.06.01 ~ 2026.07.30</p>
            <p>당첨자 발표 : 2026.08.10</p>
            <button class="progress-btn">진행중</button>
        </div>

        <div class="event-card">
            <img th:src="@{/images/event4.jpg}">
            <h3>나만의 한국어 암기법 공유하기</h3>
            <p>기간 : 2026.05.01 ~ 2026.06.30</p>
            <p>당첨자 발표 : 2026.07.03</p>
            <button class="result-btn">발표 확인</button>
        </div>

        <div class="event-card">
            <img th:src="@{/images/event5.jpg}">
            <h3>한국 일상 사진 챌린지</h3>
            <p>기간 : 2026.05.01 ~ 2026.06.30</p>
            <p>당첨자 발표 : 2026.07.03</p>
            <button class="result-btn">발표 확인</button>
        </div>

        <div class="event-card">
            <img th:src="@{/images/event6.jpg}">
            <h3>한국에서 유행하는 릴스 챌린지</h3>
            <p>기간 : 2026.05.01 ~ 2026.06.30</p>
            <p>당첨자 발표 : 2026.07.03</p>
            <button class="result-btn">발표 확인</button>
        </div>

    </div>

    <div class="pagination">1</div>

</section>

<script th:src="@{/js/event.js}"></script>

</body>
</html>